<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144487573987-tn1c9o2t6t1a6goa31tg1n70m0u90eh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144487573987-tn1c9o2t6t1a6goa31tg1n70m0u90eh1</string>
	<key>API_KEY</key>
	<string>AIzaSyDZYpAFt6Z6oSOxwmjkfTZpjvEYrC0QkW0</string>
	<key>GCM_SENDER_ID</key>
	<string>144487573987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>angad.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-85e34</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-85e34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144487573987:ios:f3d89fa4b33c861bd098d6</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-85e34.firebaseio.com</string>
</dict>
</plist>